@if (userId) {
@if (!(shoppingCart?.totalPrice==0 || cartStatus==2) ) {
<h3> سبد خرید:</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>نام</th>
      <th>تعداد</th>
      <th>قیمت</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (item of shoppingCart?.shoppingCartItems; track $index) {
    <tr>
      <td>{{ item.productName }}</td>
      <td>{{ item.count }}</td>
      <td>{{ item.productPrice * item.count }}</td>
      <td>
        <a class="btn btn-danger" (click)="removeFromCart(item.shoppingCartItemId)">حذف</a>
      </td>
    </tr>
    }

  </tbody>
</table>
<h4>قیمت نهایی : {{shoppingCart?.totalPrice}} </h4>
}
@else {
<div>
  سبد خرید شما خالی است
</div>
}
}@else{
  <div>
    <p>برای مشاهده سبد خرید</p>
    <p> وارد اکانت خود شوید</p>
  </div>
}