<!-- <div class="flex-container">
    <div class="img-container">
        <img class="img-detail" [src]="product?.imgUrl" />
    </div>
    <div class="description-container">
        <h2>{{product?.name}}</h2>
        <hr>
        <p class="description-text">{{product?.description}}<p>
    </div>
    <div class="price-container">
        <p class="price-t1">فروشنده</p>
        <p class="price-t2">نوین ارتباطات بارز</p>
        <p class="price-t3"><span>74%</span> رضایت از کالا</p>
        <hr>
        <p class="p-price">{{product?.price}} <span>تومان</span></p>
        @if (product) {
            <button (click)="addToCart(product.productId)" class="btn-addtocart" type="button">
                افزودن به سبد خرید
              </button>
        }
    </div>
</div> -->