
<!-- <app-product-detail [productId]="productId2"></app-product-detail> -->

<div class="flex-container">
  <div class="img-container">
      <img class="img-detail" [src]="product?.imgUrl" />
  </div>
  <div class="description-container">
      <h2>{{product?.name}}</h2>
      <mat-divider></mat-divider>
      <p class="description-text">{{product?.description}}<p>
  </div>
  <div class="price-container">
      <p class="price-t1">فروشنده</p>
      <p class="price-t2">نوین ارتباطات بارز</p>
      <p class="price-t3"><span>74%</span> رضایت از کالا</p>
      <mat-divider></mat-divider>
      <p class="p-price">{{product?.price ?? 0 | price}} <span>تومان</span></p>
      @if (product) {
          <button mat-flat-button (click)="addToCart(product.productId)" class="btn-addtocart">
              افزودن به سبد خرید
            </button>
      }
  </div>
</div>
  
<mat-divider></mat-divider>
<h3>کالاهای مشابه</h3>
<div class="product-container">
    @for(product of products ; track product){
        <div class="box-product">
          <a  [routerLink]="['/productDetail',product.slug]" >
            <img class="img-product" [src]="product.imgUrl" />
          </a>
          <div class="text-box">
            <div class="product-name"> {{product.name}} </div>
            <div class="product-price">{{product.price | price}}<span> تومان</span></div>
            <button mat-flat-button (click)="addToCart(product.productId)" class="btn-addtocart" type="button">
              افزودن به سبد خرید
            </button>
          </div>
        </div>
      }
</div>
<hr>

