<div class="container-auth">
    <div class="form-register">
        <ul class="tab-group">
            <li (click)="changeAuthMode(true)" [ngClass]="{'active': showLogin}" class="tab"><a>ورود</a></li>
            <li (click)="changeAuthMode(false)" [ngClass]="{'active': !showLogin}" class="tab"><a>ثبت‌نام</a></li>
        </ul>

        @if (showLogin) {
        <h1> ورود</h1>
        @if (loginResponse != null) {
        <div class="message" [ngClass]="{'message-success': loginResponse.status==1,'message-error': loginResponse.status === 2}">
            <p>{{loginResponse.message}}</p>
        </div>
        }
        <form (ngSubmit)="loginRequest()">
            <div class="div1">
                <label>نام کاربری :</label>
                <input [(ngModel)]="userName" name="userName" type="text" maxlength="11" 
                    placeholder=" نام کاربری خود را وارد کنید " autofocus />
            </div>
            <div class="div1">
                <label>کلمه عبور :</label>
                <input [(ngModel)]="password" name="password" type="password" maxlength="11" min="6" 
                    placeholder="کلمه عبور خود را وارد کنید" />
            </div>
            <div class="div1">
                <input type="submit" value="ورود" class="input-submit">
            </div>
        </form>
        }
        @else {
        <h1> ثبت نام </h1>

        @if (response != null) {
        <div class="message" [ngClass]="{'message-success': response.status==1,'message-error': response.status === 2}">
            <p>{{response.message}}</p>
        </div>
        }
        
        <form (ngSubmit)="registerRequest()">
            <div class="div1">
                <label>نام :</label>
                <input  [(ngModel)]="fName" name="fName" type="text" maxlength="50"  
                placeholder="نام خود را وارد کنید" autofocus />
            </div>

            <div class="div1">
                <label>نام خانوادگی :</label>
                <input  [(ngModel)]="lName" name="lName" type="text" maxlength="100"  
                placeholder="نام خانوادگی خود را وارد کنید">
            </div>

            <div class="div1">
                <label>موبایل :</label>
                <input [(ngModel)]="phoneNumber" name="phoneNumber" type="text" pattern="^[0-9]*$" minlength="10" maxlength="11" 
                    placeholder="شماره موبایل خود را وارد کنید" />
            </div>

            <div class="div1">
                <label>نام کاربری :</label>
                <input [(ngModel)]="userName" name="userName" type="text" 
                    placeholder=" نام کاربری خود را وارد کنید " />
            </div>

            <div class="div1">
                <label>کلمه عبور :</label>
                <input [(ngModel)]="password" name="password" type="password"  minlength="6" 
                    placeholder="کلمه عبور خود را وارد کنید" />
            </div>

            <div class="div1">
                <label>تکرار کلمه عبور :</label>
                <input [(ngModel)]="rePassword" name="rePassword" type="password" minlength="6" 
                    placeholder="کلمه عبور خود را تکرار کنید" />
            </div>

            <div class="div1">
                <input type="submit" value="ثبت نام" class="input-submit">
            </div>
        </form>
        }
    </div>
</div>