
.d-container{
    margin: 10px auto;
}

.d-title{
    text-align: center;
}

.d-button{
    margin: 5px auto;
    text-align: center;
}

.btn-close{
    width: 80%;
    background-color: blue;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn-close:hover{
    background-color: blue;
}
