<main class="main">
  <div class="header-nav">
    <div class="nav-right">
      <a class="navbar-brand btn-header" routerLink="/">فروشگاه آنلاین</a>
      <a class="navbar-brand btn-header" routerLink="/products">محصولات</a>
    </div>

    @if (userId) {
    <p>{{userName}} خوش آمدید!</p>
    }

    <div class="nav-left">
      @if (userId) {
      <a class="navbar-brand btn-header btn-auth" routerLink="/cart"> سبد خرید</a>
      <a class="navbar-brand btn-header btn-auth" routerLink="/profile"> پروفایل</a>
      <a class="navbar-brand btn-header btn-auth" (click)="logOut()"> خروج </a>
      }
      @else {
      <a class="navbar-brand btn-header btn-auth" routerLink="/authentication"> ثبت‌نام/ورود</a>
      }

    </div>
  </div>
</main>

<div class="main-content">
  <router-outlet />
</div>