<main class="main">
  <div class="header-nav">
    <div class="nav-right">
      <a class="btn-header" mat-stroked-button routerLink="" >فروشگاه آنلاین</a>
      <a class="btn-header" mat-stroked-button routerLink="products" routerLinkActive="active" >محصولات</a>
    </div>

    <!-- @if (userId) {
    <p>{{userName}} خوش آمدید!</p>
    } -->

    <div class="nav-left">
      @if (userId) {
      <a class="btn-header" mat-stroked-button routerLink="cart" routerLinkActive="active" > سبد خرید</a>
      <a class="btn-header" mat-stroked-button routerLink="profile" routerLinkActive="active"> پروفایل</a>
      <a class="btn-header" mat-stroked-button (click)="logOut()" routerLinkActive="active"> خروج </a>
      }
      @else {
      <a class="btn-header" mat-stroked-button routerLink="authentication" routerLinkActive="active"> ثبت‌نام/ورود</a>
      }
    </div>
  </div>
</main>

<div class="main-content">
  <router-outlet />
</div>