.main{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header-nav{
    margin-bottom: 5px;
    background-color:#d7e3ff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.main-content{
    margin: 90px 30px;
}

.btn-header{
    margin: 5px;
    padding: 5px 10px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
}

.btn-header:hover {
    white-space: nowrap;
    background-color: rgb(165, 206, 235);
    cursor: pointer;
}

.btn-auth{
    align-self: flex-end;
}

.nav-left {
    display: flex;
    flex-direction: row;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.active{
    background-color: #c1d5f8;
}

.cart-icon{
    width: 70px;
    margin: 0 10px;
}
