<mat-toolbar class="toolbar-container">
    <button mat-button>
        <mat-icon>menu</mat-icon>
        <span>دسته بندی کالاها</span>
    </button>

    <button mat-button>
        <mat-icon>hide_source</mat-icon>
        <span>شگفت‌انگیزها</span>
    </button>

    <button mat-button>
        <mat-icon>shopping_basket</mat-icon>
        <span>سوپرمارکت</span>
    </button>

    <button mat-button>
        <mat-icon>redeem</mat-icon>
        <span>کارت هدیه</span>
    </button>

    <button mat-button>
        <mat-icon>local_fire_department</mat-icon>
        <span>پرفروش‌ترین‌ها</span>
    </button>

    <button mat-button>
        <mat-icon>sell</mat-icon>
        <span>تخفیف‌ها و پیشنهادها</span>
    </button>

    <button mat-button>
        <span>سوالی دارید؟</span>
    </button>

    <button mat-button>
        <span>در دیجی‌کالا بفروشید!</span>
    </button>
</mat-toolbar>