<div class="flex-container">
  <mat-form-field class="input-search">
    <mat-label>جستجو</mat-label>
    <input [(ngModel)]="filterText" matInput type="text" />
  </mat-form-field>

  @for(product of products | filter: filterText ; track product){
  <mat-card class="box-product" appearance="outlined">
    <a [routerLink]="['/productDetail',product.slug]">
      <picture>
        <source [srcset]="product.imgUrl" [media]="'(max-width: 500px)'" width="140" height="140" />
        <source  [srcset]="product.imgUrl" [media]="'(max-width: 790px)'" width="200" height="200" />       
        <img [ngSrc]="product.imgUrl" width="340" height="340" priority />
      </picture>

      <!-- <img mat-card-image [ngSrc]="product.imgUrl" width="340" height="340" priority> -->
    </a>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{product.name}}</mat-card-title>
      <div class="product-price">
        <mat-card-subtitle> <strong>{{product.price | price}}</strong> تومان</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button (click)="addToCart(product.productId)" class="btn-addtocart2">افزودن به سبد خرید</button>
    </mat-card-actions>
  </mat-card>
  }
</div>