
.input-search {
    margin: 5px 5px;
    font-size: 20px;
    width: 88%;
}

.box-product {
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    border: 1px rgb(219, 194, 194) solid;
}

.box-product:hover {
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.4);
}

.flex-container {
    display: flex;
    margin: 1px 130px;
    margin-top: 130PX;
    flex-wrap: wrap;
}

.product-price {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    color: rgb(75, 39, 39);
    width: 100%;
    text-align: left;
}

.mat-mdc-card-subtitle {
    display: block;
    margin: 0;
    font-weight: 400;
}

.mat-mdc-card-header{
    padding: 1px 10px;
    padding-right: 1px;
    margin-top: 0;
}

.mat-mdc-card-title {
    margin-top: 0px;
}

.mat-mdc-card-avatar {
    height: 40px;
    width: 0;
    border-radius: 50%;
    flex-shrink: 0;
    margin-bottom: 16px;
    object-fit: cover;
}

.btn-addtocart2{
    width: 100%;
    margin: 10px 2px 5px 2px;
    border-radius: 3px;
}