.btn-add {
    width: 100%;
    margin-bottom: 20px;
}

.input-search {
    margin: 30px 5px;
    font-size: 20px;
    width: 75%;
}

.box-product {
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    border: 1px rgb(219, 194, 194) solid;
}

.box-product:hover {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.flex-container {
    display: flex;
    margin: 1px 30px;
}

.cart-container {
    flex: 2;
    margin: 50px 1px;
    position: fixed;
    z-index: 101;
    top: 90px;
    left: 50px;
}

.item-container {
    flex: 9;
    margin-top: 50PX;
}

.product-name {
    font-size: 25px;
}

.product-price {
    font-size: 20px;
    color: rgb(75, 39, 39);
    width: 100%;
    text-align: left;
    ;
}

.btn-addtocart {
    font-size: 15px;
    padding: 10px;
    background-color: rgb(188, 75, 75);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

.btn-addtocart:hover {
    background-color: rgb(127, 41, 45); 
}

.btn-addtocart:active {
    background-color: aqua;
}

.img-product {
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    height: 350px;
}

.img-product:hover {
    opacity: 0.6;
}

.text-box {
    width: 100%;
    padding: 1em;
}

