
<div class="container-profile">
    <div class="container-row">
        <span class="span1">نام کوچک</span>
        <span>{{user?.fName}}</span>
        <mat-icon matTooltip="ویرایش" (click)="openEditFNameDialog()">edit</mat-icon>
    </div>
    <div class="container-row">
        <span class="span1">نام خانوادگی</span>
        <span>{{user?.lName}}</span>
        <mat-icon matTooltip="ویرایش" (click)="openEditLNameDialog()" >edit</mat-icon>
    </div>
    <div class="container-row">
        <span class="span1">نام کاربری</span>
        <span>{{user?.userName}}</span>
        <mat-icon matTooltip="ویرایش" (click)="openEditUserNameDialog()" >edit</mat-icon>
    </div>
    <div class="container-row">
        <span class="span1">شماره موبایل</span>
        <span>{{user?.phoneNumber}}</span>
        <mat-icon matTooltip="ویرایش" (click)="openEditPhoneDialog()">edit</mat-icon>
    </div>
</div>