@font-face {
  font-family: 'nazanin'; 
  src: url('/public/fonts/B-NAZANIN.TTF') format('truetype');
}

@font-face {
  font-family: 'iran yekan' ;
  src: url('/public/fonts/B-NAZANIN.TTF') format('truetype');
}

html, body {
    background-color: rgb(255, 255, 255) !important;
    height: 100%;
    margin: 0;
    font-family: 'iran yekan','nazanin',Arial, sans-serif !important;
}