/* @font-face {
    font-family: 'nazanin'; 
    src: url('fonts/B-NAZANIN.TTF') format('opentype');
  } */

html, body {
    background-color: rgb(255, 255, 255) !important;
    height: 100%;
    margin: 0;
    /* font-family:  nazanin,Arial, sans-serif; */
    font-family: Arial, sans-serif;
}