
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center content-home">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">صفحه اصلی</h1>
      <p class="lead font-weight-normal">خوش آمدید به فروشگاه آنلاین ما - بهترین محصولات با قیمت مناسب.
        محصولات متنوع - از لباس تا الکترونیک، هرآنچه نیاز دارید.
        سبد خرید آسان - با چند کلیک خرید خود را تکمیل کنید!</p>
      <a class="btn btn-primary" routerLink="/products">محصولات</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
<router-outlet></router-outlet>

<!-- ------------------------ -->

<!-- use form and ng submit -->
<!-- instead of id use productId and ... -->
<!-- form controll dont need  -->
<!-- use input to get detail id -->
<!-- delete AddCors and cors from api program.cs -->
<!-- also use web storm -->
<!-- instead of id int use auto identifier -->
 <!--token -->
<!-- hash password -->
<!-- guard -->


<!-- --------------------------- -->

  <!-- chat gpt ham na -->
  <!-- html css improve not using bootsrrap -->
  <!-- any o var estefade na -->
   <!-- ngfor avaz beshe -->
  <!-- db first be jaye code first -->


  <!--
   proxy setup :
   In your Angular project, create a proxy.conf.json
   update your angular.json file
  -->
