@if (!(shoppingCart?.totalPrice==0 || cartStatus==2) && shoppingCart) {
<div class="flex-container">
  <div class="container-product">
    <h3> سبد خرید شما</h3>
    @for (item of shoppingCart.shoppingCartItems; track item) {
    <div class="box-product">
      <div class="img-container">
        <a [routerLink]="['/productDetail',item.productSlug]">
          <img class="img-product" [src]="item.productImgUrl">
        </a>
        <div class="container-count">
          <button mat-icon-button (click)="addToCart(item.productId)">
            <mat-icon>add</mat-icon>
          </button>
          <span>{{item.count}}</span>
          @if (item.count>1) {
          <button mat-icon-button (click)="removeFromCart(item.shoppingCartItemId)">
            <mat-icon>remove</mat-icon>
          </button>
          }@else {
          <button mat-icon-button (click)="removeFromCart(item.shoppingCartItemId)">
            <mat-icon>delete</mat-icon>
          </button>
          }

        </div>
      </div>
      <div class="product-info">
        <p>{{item.productName}}</p>
        <div class="minor-detail">
          <p>قرمز</p>
          <p>گارانتی اصالت و سلامت فیزیکی کالا</p>
          <p>فردا کالا</p>
          <p>ارسال دیجی‌کالا از ۱ روز کاری دیگر</p>
        </div>
        <p>{{item.productPrice * item.count | price}} تومان</p>
      </div>
    </div>
    }
  </div>
  <div class="container-info">
    <p>قیمت کالا ها : {{shoppingCart.totalPrice | price}} تومان </p>
    <p>جمع سبد خرید : {{shoppingCart.totalPrice | price}} تومان </p>
    <p> سود شما از خرید : {{shoppingCart.totalPrice | price}} تومان </p>
    <button mat-flat-button class="btn-pay"> تایید و تکمیل سفارش</button>
  </div>
</div>
}
@else {
<div class="container-empty">
  <img src="https://www.digikala.com/statics/img/svg/empty-cart.svg">
  <h2> سبد خرید شما خالی است!</h2>
  <h6>می‌توانید برای مشاهده محصولات به صفحه زیر بروید:</h6>
  <button mat-flat-button  routerLink="/products">محصولات</button>
</div>
}